$navy: #001e38;
$green: #59ec9d;
$header: #24404c;

html {
  background-color: #ffffff;
}
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
button,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  .Body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    font-family: monospace;
  }
}

h1,
p {
  margin: 0;
  padding: 0;
  line-height: 80%;
}

.Header {
  top: 0;

  background: $header;
  width: 100%;
  color: #ffffff;
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 2em 0;
  margin-bottom: 3em;
  .Title {
    display: inline-block;
  }
  .TitleRight {
    padding-left: 1%;
    h1 {
      padding: 3% 0;
      font-size: 4em;
      height: 50%;
    }
    p {
      height: 50%;
    }
  }
}

.LoginWrapper {
  position: relative;
  margin: auto;
  width: 30%;
  h2 {
    text-align: right;
    color: $header;
  }
}

.Login {
  background: $green;
  border-radius: 7px;

  .Field {
    padding: 1em;
    padding-bottom: 2em;
    p {
      width: 100%;
      margin: 0;
      padding-bottom: 0.25em;
      color: #24404c;
    }
    input {
      border-radius: 7px;
      border: none;
      background: white;
      padding: 0.5em 0.25em;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.Enter {
  text-align: center;
  margin: auto;
  margin-top: 1em;
  padding: 1em 2em;
  border-radius: 5px;
  color: white;
  background: #24404c;
  width: 10%;
  .Join {
    text-decoration: none;
    color: white;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .LoginWrapper {
    width: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .LoginWrapper {
    width: 75%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .LoginWrapper {
    width: 60%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .LoginWrapper {
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .LoginWrapper {
    width: 40%;
  }
}
