$navy: #001e38;
$green: #59ec9d;
$header: #24404c;

.MessageListWrapper {
  width: 80%;
  margin: auto;
  margin-top: 6em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .MessageList {
    background: $navy;
    border-radius: 6px;
    padding: 0.8em;
    .Message {
      color: $header;
      background: white;
      border-radius: 6px;
      padding: 1em;
    }
    .Message:first-of-type {
      margin-bottom: 0.6em;
    }
    .Message:last-of-type {
      margin-top: 0.6em;
    }
  }
  .ShipIt {
    display: block;
    margin: 1em 0;
    border-radius: 6px;
    padding: 0.6em;
    background: $navy;

    input {
      color: white;
      background: $navy;
    }
    input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: white;
    }
  }
  button {
    float: right;
    border-radius: 6px;
    background: $green;
    padding: 0.6em 2em;
    color: $navy;
    text-transform: uppercase;
  }
  button:hover {
    cursor: pointer;
  }
}
