$navy: #001e38;
$green: #59ec9d;
$header: #24404c;

.ShowRoomList {
  visibility: visible;
  position: absolute;
  background: #24404c;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 100vh;
  transform: translateX(100%);
  width: 20%;
  left: -20%;
  .roomTitle {
    text-align: center;
    padding-top: 1em;
    color: white;
    font-size: 20px;
  }
  .RoomInput {
    background: white;
    padding: 0.5em 0.25em;
    margin-left: 1em;
    width: 60%;
  }
  .RoomInput::-webkit-input-placeholder {
    color: $header;
  }
  .RoomSubmit {
    background: $green;
    padding: 0.5em 0.25em;
    color: $header;
    border-left: 1px solid $navy;
  }
}

.HideRoomList {
  position: absolute;
  visibility: hidden;
}

.Room {
  background: $green;
  margin: 1em 0 1em 0;
  padding: 1em 0 1em 1em;
  border-right: 2px solid $header;
  border-bottom: 2px solid $header;
  border-top: 2px solid $header;
  width: 100%;
  font: bold;
  .RoomTitle {
    color: $header;
    font-size: 20px;
    font-weight: 800;
  }
}
